<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>

  <body>
    <%- include('layouts/headerArea'); -%>
    <!-- End header area -->

  <%- include('layouts/brandingArea'); -%>
    <!-- End site branding area -->
    
  <%- include('layouts/navbar'); -%>
    <!-- End mainmenu area -->
    
  <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Contact</h2>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    
  Đây là trang contact




  <%- include('layouts/footerTop'); -%>
     <!-- End footer top area -->
    
  <%- include('layouts/footerBot'); -%>
     <!-- End footer bottom area -->
   
  <%- include('layouts/script'); -%>
    
  </body>
</html>
