<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>

  <body>
    <%- include('layouts/headerArea'); -%>
    <!-- End header area -->

  <%- include('layouts/brandingArea'); -%>
    <!-- End site branding area -->
    
  <%- include('layouts/navbar'); -%>
    <!-- End mainmenu area -->
    
  <%- include('layouts/pageTitle'); -%>
    <!-- End Page title area -->
    
  Đây là trang contact




  <%- include('layouts/footerTop'); -%>
     <!-- End footer top area -->
    
  <%- include('layouts/footerBot'); -%>
     <!-- End footer bottom area -->
   
  <%- include('layouts/script'); -%>
    
  </body>
</html>
