<!DOCTYPE html>

<html lang="en">
    <%- include('layouts/header'); -%>
  <body>
   
    <%- include('layouts/headerArea'); -%>
    <!-- End header area -->
    
    <%- include('layouts/brandingArea'); -%>
    <!-- End site branding area -->
    
    <%- include('layouts/navbar'); -%>
    <!-- End mainmenu area -->
    
    <%- include('layouts/index/indexSlide'); -%>
    <!-- End slider area -->
    
    <%- include('layouts/index/promoArea'); -%>    
    <!-- End promo area -->
    
    <%- include('layouts/index/mainContent'); -%>       
    <!-- End main content area -->
    
    <%- include('layouts/index/brandArea'); -%>     
    <!-- End brands area -->
    
    <%- include('layouts/index/productWidget'); -%>     
    <!-- End product widget area -->
    
      <%- include('layouts/footerTop'); -%>
    <!-- End footer top area -->
    
      <%- include('layouts/footerBot'); -%>
    <!-- End footer bottom area -->
   
      <%- include('layouts/script'); -%>

  </body>
</html>