<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>

  <body>
   
    <%- include('layouts/headerArea'); -%>
     <!-- End header area -->
    
    <%- include('layouts/brandingArea'); -%>
     <!-- End site branding area -->
    
    <%- include('layouts/navbar'); -%>
     <!-- End mainmenu area -->
    
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Shop Page</h2>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    
    
    
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <% for(let i=0; i<items.length; i++){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="
                            <%= items[i].image_product %>
                            " alt="">
                        </div>
                        <h2><a href="/<%= items[i]._id %>">
                            <%= items[i].name_product %>
                        </a></h2>
                        <div class="product-carousel-price">
                            <ins>$<%= items[i].discout %></ins> <del>$<%= items[i].cost_product %></del>
                        </div>  
                        
                        <div class="product-option-shop">
                            <a class="add_to_cart_button" href="/add-to-cart/<%= items[i]._id %>">Add to cart</a>
                        </div>                       
                    </div>
                </div>
                <% } %>
            </div>
            
            <div class="row" style="text-align:center;">
    <!-- hiển thị phân trang nếu có trang -->
    <% if(pages > 0) { %>
    <nav class="mx-auto">
      <ul class="pagination" style="margin-top: 2rem;">
      
        <!-- FIRST ITEM -->  
        <% if(current == 1) { %> 
            <li class="page-item disabled">
              <a class="page-link" href="/">First</a>
            </li>
        <% } else { %>
            <li class="page-item">
              <a class="page-link" href="/shop/1">First</a>
            </li>
        <% } %>
        
        <!-- ITEMS  -->
        <% var i = (Number(current) > 3 ? Number(current) - 2 : 1) %> 
        <% if(i !== 1) { %>
            <li class="page-item disabled">
              <a class="page-link" href="#">...</a>
            </li>
        <% } %>
        <% for(; i <= (Number(current) + 2) && i <= pages; i++) { %>
          <% if(i == current) { %>
            <li class="page-item active">
              <a class="page-link" href="/shop/<%= i %>/">
                <%= i %>
              </a>
            </li>
        <% } else { %>
            <li class="page-item">
              <a class="page-link" href="/shop/<%= i %>/">
                <%= i %>
              </a>
            </li>
        <% } %>
        <% if (i == Number(current) + 2 && i < pages) { %>
            <li class="page-item disabled">
              <a class="page-link" href="#">...</a>
            </li>
        <% } %>
        <% } %>
        
        <!-- LAST ITEM -->
        <% if(current == pages) { %> 
            <li class="page-item disabled">
              <a class="page-link" href="#">
                Last
              </a>
            </li>
        <% } else { %>
            <li class="page-item">
              <a class="page-link" href="/shop/<%= pages %>/">
                Last
              </a>
            </li>
        <% } %>
      </ul>
    </nav>
    <% } %>
  </div>
</div>
        </div>
    </div>

    <%- include('layouts/footerTop'); -%>
     <!-- End footer top area -->
    
    <%- include('layouts/footerBot'); -%>
     <!-- End footer bottom area -->
   
    <%- include('layouts/script'); -%>
    

  </body>
</html>