<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>

  <body>
   
    <%- include('layouts/headerArea'); -%>
     <!-- End header area -->
    
    <%- include('layouts/brandingArea'); -%>
     <!-- End site branding area -->
    
    <%- include('layouts/navbar'); -%>
     <!-- End mainmenu area -->
    
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Shop Page</h2>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    
    
    
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <% for(let i=0; i<items.length; i++){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="
                            <%= items[i].image_product %>
                            " alt="">
                        </div>
                        <h2><a href="">
                            <%= items[i].name_product %>
                        </a></h2>
                        <div class="product-carousel-price">
                            <ins>$<%= items[i].cost_product * (1-(items[i].discout / 100)) %></ins> <del>$<%= items[i].cost_product %></del>
                        </div>  
                        
                        <div class="product-option-shop">
                            <a class="add_to_cart_button" href="/add-to-cart/<%= items[i]._id %>">Add to cart</a>
                        </div>                       
                    </div>
                </div>
                <% } %>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <div class="product-pagination text-center">
                        <nav>
                          <ul class="pagination">
                            <li>
                              <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                              <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                            </li>
                          </ul>
                        </nav>                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('layouts/footerTop'); -%>
     <!-- End footer top area -->
    
    <%- include('layouts/footerBot'); -%>
     <!-- End footer bottom area -->
   
    <%- include('layouts/script'); -%>
    

  </body>
</html>